<html>
	<head>
		<title>Expenses</title>
		<style type="text/css">
			body { background-color: gray }		
		</style>
	</head>
	<body>
		<h1><%= self.id %> <%= self.item %> <%= self.amount %></h1>
		<a href="/show/:id">Show Record</a></li>
	</body>
</html>
